.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* Example: 3 columns */
    gap: 20px;
}
.hover-container { 
    position: relative; /* Essential for positioning the tooltip bubble relative to the item */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
.bubble {
    visibility: hidden;
    opacity: 0;
    width: 480px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    z-index: 1; 
    top: 125%; 
    left: 50%;
    transform: translateX(-50%); 
    transition: opacity 0.3s, visibility 0.3s;
}
.hover-container:hover .bubble {
    visibility: visible;
    opacity: 1;
}
}
@media screen and (max-width: 600px) {
  .styled-image {
    width: 50%;
  }
}