
/*Styling for flex-container on second page*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
.image-item {
    position: relative;
    flex: 1;
    max-height: 400px;
    min-width: none;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.image-item img {
    width:100%;
    height: auto;
    display: block;
}
@media (max-width: 768px) {
    .image-container{
        flex-direction: column;
        align-items: center;
    }
    .image-item img {
        max-width: 90%;
        margin: 10px;
    }
}