
body {
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-weight: bold;
}
.offer-list {
    list-style-type: square;
    margin: 5px;
    padding: 10px;
}
a {
    color: darkgreen;
}
a:hover {
  color:red;
}
.new-content-block {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    background-color: lightgreen;
    border: 1px solid thin;
    border-radius: 5px;
}
.flex-container {
    display: flex;
    background-color: orange;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.flex-item {
    position: relative;
    flex: 1;
    max-width: 300px;
    overflow: hidden;
    cursor: hand;
}
.flex-item {
    width:100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, o.7);
    color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flex-item:hover img {
    transform: scale(1.1);
}
.flex-item:hover .overlay {
    height: 100%;
}
.styled-image {
    height: auto;
    width: 300px;
    display: block;
    border-radius: 8px;
    border: 8px solid black;
    padding: 2px;
    box-shadow: rgba(red, green, blue, alpha);
}
h2 {
    font-size: bold 200%; 
    color: darkslategray;
}
p {
    font-size: 90%;
    font-style: italic;
}
